*{
    margin: 0;
    padding: 0;
}
    .slide{
        overflow: hidden;
        height: 700px;
        position: relative;
    }
    .slide-wrapper{
        text-align: center;

    }
    .slide-wrapper a{
        display: block;
    }
    .slide-item[data-key='0']{
    
    }
    .slide-item[data-key='1']{
    transform: translateY(-100%);
    }
    .slide-item[data-key='2']{
        transform: translateY(-200%);
    }

    .btns{
        position: absolute;
        height: 0;
        top: 50%;
        left: 3rem;
        right: 3rem;
        z-index: 100;
        display: flex;
        justify-content: space-between;
    }

    .btns button{
        background-color: transparent; 
        width: 5rem; 
        height: 5rem; 
        font-size: 0; 
        border: 1px solid #222;
        cursor: pointer;
        transform: translateY(-50%) rotate(-45deg);
    }

    .btns .prev{
        border-width: 1px 0 0 1px;
    }
    .btns .next{
        border-width: 0 1px 1px 0;
    }
    .indicate{
        position: absolute;
        bottom: 2rem;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        z-index: 100;
    }

    .indicate button{
        background-color: transparent;
        border: 0;
        font-size: 1.5rem;
        margin: 0 0.8rem;

        border: 2px solid transparent;
        cursor: pointer;
    }

    /* 활성화 */
    .indicate button.act{
        color: red;
        border-bottom-color: red;
    }

    .slide-item.act{
        opacity: 1;
        position: relative;
        visibility: visible;
    }
    .slide-item{
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }